.number {
    width: 20%;
}

#text-h {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.symbol:hover {
    cursor: pointer;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.only-minus {
    opacity: 0.3;
}

.only-minus:hover {
    cursor: not-allowed;
}

.cart-div {
    position: fixed;
    right: 13px;
    display: inline;
}

.cart-div:hover {
    cursor: pointer;
}

.content {
    visibility: hidden;
    position: fixed;
    text-align: center;
    border: 1px solid rgba(33,37,41,0.2);
    top: 170px;
    width: 150px;
    height: 200px;
    right: 0;
    z-index: 100;
    background-color: white;
}

#close-btn {
    background-color: #0d6efd;
    color: white;
    border-style: none;
}

#close-btn:hover {
    background-color: #095fe0;
}